<div class="container">
    <div class="bg-light  flex-wrap align-content-right ">
        <div class="form-group">
            <h2>Create new User</h2>
            <form>
                <label>Username: </label>
                <input type="text"  class="form-control" placeholder="currentUser.username" [(ngModel)]="username" name="username">
                <label>Password: </label>
                <input type="text"   class="form-control" placeholder="Password" [(ngModel)]="email" name="email" >
                <label>Password: </label>
                <input type="text"   class="form-control" placeholder="Role" [(ngModel)]="role" name="role" >
                <label>Password: </label>
                <input type="text"   class="form-control" placeholder="Password" [(ngModel)]="pwd" name="pwd" >
            </form>
            <br>
            <button (click)="UpdateUser(username,email, role, pwd)" class="btn btn-primary">Update</button>
        </div>
    </div>
    <div class="container">
        <h3> Upload a profile picture to customise your profile</h3>
        <form>
            <div class="form-group">
                <input type="file"  class="form-control"(change)="onFileSelected($event)"  name="imageFile" id="imageFile">
            </div>
            <button type="button" (click)="onUpload()"  class="btn btn-primary">Submit</button>
        </form>
        <img src="{{imgSrc}}">
        <img src="assets/a.jpg">
        <!-- <img src="assets/unnamed.jpg"> -->
    
    </div>
</div>