<div class="container">
      <form>
        <!-- <div class="form-group" *ngIf="isInChannel"> -->
          <div class="form-group">
            <label for="chatMsg">New Message</label>
            <input type="text" [(ngModel)]="chatMsg" name="chatMsg" id="chatMsg" class="form-control">
            <button (click)="chat(chatMsg)" class="btn btn-primary">Send</button>
          </div>
    
    <!-- <div class="form-group">
      <select [{ngModel}]="channelList" name="channelList">
        <option [{ngModel}]="null">select channel</option>
        <option *ngFor="let channel of listOfChannels">{{channel}}</option>
    </div> -->
  </form>
    <h2>Chat messages</h2>
    <ul id="leftCol">
      <li *ngFor="let msg of messages" >{{msg}}</li>
    </ul>
  

  </div>
