<div class="container">
    <div id="profiles" class="d-flex justify-content-center ">
        <div *ngFor="let user of userList" class ="bg-light">
            <h4 class="d-flex justify-content-center ">{{user.username}}</h4>
            <ul >
                <li>Id: {{user.id}}</li>
                <li>email: {{user.email}}</li>
                <li>role: {{user.role}}</li>
                <li>password: {{user.pwd}}</li>

            </ul>
            <button (click)="IdToUpdate(user.id)" class="btn btn-primary ">Update</button>
            <button (click)="DeleteUser(user.id)" class="btn btn-primary ">Delete</button>
        </div>
    </div>
</div>
